body.active-modal {
    overflow-y: hidden;
}

.projects-modal, .project-overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}

.project-overlay {
    background: rgba(255, 254, 254, 0.5);
}
.projects-modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    padding: 7vw;
    width:fit-content;
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    z-index: 10;
    margin:20vh 0 0 5vh;
}

.close-projects-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}

.projects-open-modal{
    font-family:"IBM Plex Sans";
    font-size: 3em;
    font-weight: 500;
}
.projects-open-modal:hover{
    color:white;
    background-color:blue;
    transition:color 0.5s, background-color 0.5s; 
}

