

.hobbyr-wrapper{
    max-width: 100%;
}
.hobbyr-modal-content{
    display:flex;
    flex-direction: column;
}

.hobbyr-info-logo-container{
    width:fit-content;
    height:auto;
    background-color: blue;
    padding:1vh;


}

.hobbyr-info-logo{
    height:6vh;
    width:auto;
}

.hobbyr-info{
    font-family: 'IBM Plex Sans';
    color:black;
    font-weight: 500;
    font-size:2vh;
    width:35vw;
    padding:2vh;
}
.tech-stack-container{
    width:fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding:2vh 0 0 2vh;
}
.react-logo{
    height:3vh;
    width:auto;
    padding: 0 .5vw;
}
.js-logo{
    height:3vh;
    width:auto;
    padding: 0 .5vw;
}
.django-logo{
    height:3vh;
    width:auto;
    padding:0 .5vw;
}
.python-logo{
    height:3vh;
    width:auto;
    padding:0 .5vw;
}