body.active-modal {
    overflow-y: hidden;
}


/* .about-modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: center;
}

.overlay {
    background: rgba(49,49,49,0.8);
} */
.about-modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}

.close-about-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}

.open-about-modal{
    font-family:"IBM Plex Sans";
    font-size:3em;
    font-weight:500;

}
.open-about-modal:hover{
    color:white;
    background-color:blue;
    transition:color 0.5s, background-color 0.5s; 
}