.dinaj-wrapper{
    max-width: 100%;
}
.dinaj-modal-content{
    display:flex;
    flex-direction: column;
}

.dinaj-info-logo-container{
    width:fit-content;
    height:auto;
    padding:1vh 0 0 0vw;
    justify-content: center;
    display: flex;
    flex: row;


}

.dinaj-info-logo{
    height:12vh;
    width:auto;
}

.dinaj-tech-stack-container{
    width:10vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding:1vh 0 0 2vh;
}

.dinaj-info{
    font-family:"IBM Plex Sans";
    font-size:1.7vh;
    font-weight:500;
    text-align: justify;
    padding:1vw;
}
