body.active-modal {
    overflow-y: hidden;
}


.dinaj-modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.dinaj-modal-content {
    position: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}

.close-dinaj-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}

.dinaj-logo-container{
    width:20vw;
    height:auto;
    padding:2vh;
    display: flex;
    justify-content: center;
}

.open-dinaj{
    width:100%;
    filter: invert(8%) sepia(98%) saturate(7139%) hue-rotate(247deg) brightness(98%) contrast(145%);
}
.open-dinaj:hover{
    filter: none;
}